---
import LinkedinIcon from "../components/icons/linkedin.astro";
---

<footer class="bg-[#121212] flex justify-center">
  <a href="https://www.linkedin.com/in/emigarza/" target="_blank">
    <LinkedinIcon class="text-white w-8" />
  </a>
</footer>
