:root{
    --background-color: #0c0c0c;
    --verde: #26bb80;
    --color-two: #12543a;
    --bg-size: 400%;
}

body{
    background-color: var(--background-color);
    scrollbar-color:  var(--verde);
}
body::-webkit-scrollbar {
    background-color: #090909;
    max-width: 5px;
}
body::-webkit-scrollbar-track {
    background: linear-gradient(90deg, rgba(9,9,9,0) 49.9%, var(--verde) 50%, rgba(9,9,9,0) 50.1%);
}
body::-webkit-scrollbar-thumb {
    background:  var(--verde);
    width: 5px;
}
*::-moz-selection {
    background-color: var(--verde);
    color: #090909;
}

html {
    scroll-behavior: smooth;
}

.efecto{
    background: linear-gradient(90deg,var(--verde), var(--color-two), var(--verde)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .efectico{
        animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}