---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#121212]">
    <section class="text-white flex justify-center">
      <section class="max-w-[1680px] min-w-[320px] w-full">
        <Navbar />
        <slot />
        <Footer />
      </section>
    </section>
  </body>
</html>
